# -------------------- PYTHON --------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------- VENV --------------------
.venv/
venv/
env/
ENV/

# -------------------- IDE --------------------
.vscode/
.idea/
*.iml

# -------------------- OS --------------------
.DS_Store
Thumbs.db

# -------------------- FLASK --------------------
instance/
.webassets-cache

# -------------------- DATABASE --------------------
*.db
*.sqlite3

# -------------------- LOGS --------------------
*.log

# -------------------- ENV --------------------
.env

# -------------------- BUILD --------------------
build/
dist/
*.egg-info/

# -------------------- JUPYTER --------------------
.ipynb_checkpoints/

# -------------------- MATPLOTLIB --------------------
*.png
*.jpg

# -------------------- ML / DATA --------------------
uploaded_datasets/
data/
datasets/

# -------------------- TEMP --------------------
tmp/
temp/

# -------------------- CACHE --------------------
.cache/
pytest_cache/
.mypy_cache/

# -------------------- TENSORFLOW --------------------
*.pb
*.h5
*.ckpt
*.keras

# -------------------- PLOTS --------------------
static/plots/